<script>
  $(document).ready(function(){
      $("#link-home").click(function(){
      $("#container").load("main.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-edu").click(function(){
      $("#container").load("education.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-exp").click(function(){
      $("#container").load("experience.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-cert").click(function(){
      $("#container").load("certifications.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-art").click(function(){
      $("#container").load("articles.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-pres").click(function(){
      $("#container").load("presentations.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-mot").click(function(){
      $("#container").load("motivation.html");
      });
  });
  </script><div class="py-5 border-top">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <ul class="list-unstyled">
          <li>
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
            <li>
              <a href="mailto:{{ site.email }}">
                {{ site.email }}
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>
      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</div>
