<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link href="/your-path-to-fontawesome/css/all.css" rel="stylesheet"> <!--load all styles -->
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  $(document).ready(function(){
      $("#link-home").click(function(){
      $("#container").load("../_includes/main.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-edu").click(function(){
      $("#container").load("../_includes/education.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-exp").click(function(){
      $("#container").load("_includes/experience.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-cert").click(function(){
      $("#container").load("certifications.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-art").click(function(){
      $("#container").load("articles.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-pres").click(function(){
      $("#container").load("presentations.html");
      });
  });
  </script>
  <script>
  $(document).ready(function(){
      $("#link-mot").click(function(){
      $("#container").load("motivation.html");
      });
  });
  </script>
</head>
