<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href=https://ebellussi.github.io/>Elia Bellussi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-auto navbar-right" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      {% for item in site.data.pages.docs %}
        <li class="nav-item {% if item.url == page.url %}active{% endif %}">
          <a class="nav-link" href="{{ item.url }}">{{ item.title }}</a>
        </li>
      {% endfor %}
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="/attachment/CV_EN_Elia_Bellussi.pdf">CV|Resume</a>
      </li>
    </ul>
  </div>
</nav>
