<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Elia Bellussi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mr-auto navbar-right" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="link-home" href="/_includes/main.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="link-edu" href="/_includes/education.html">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="link-exp" href="/_includes/experience.html">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="link-cert" href="/_includes/certifications.html">Certifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="link-art" href="/_includes/articles.html">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="link-pres" href="/_includes/presentations.html">Presentations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="link-mot" href="/_includes/motivation.html">Motivation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="/attachment/CV_EN_Elia_Bellussi.pdf">CV|Resume</a>
      </li>
    </ul>
  </div>
</nav>
