<div class="jumbotron">
  <h1 class="display-3">Elia Bellussi</h1>
  <p class="lead">Design Thinking | Scenario Planning | Open Innovation | Data Strategy and Analytics | Mentoring</p>
  <hr class="my-4">
  <p>To download my cv/resume click the button below.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" target="_blank" href="/attachment/CV_EN_Elia_Bellussi.pdf" role="button">CV | Resume</a>
  </p>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Last updates</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">Business</div>
      <div class="card-body">
        <h4 class="card-title">Angels4Impact Italia</h4>
        <p class="card-text">Evaluating and helping start-ups</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
      <div class="card mb-3">
      <div class="card-header">Business</div>
      <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">Mentorship at Italy of Tomorrow</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">Business</div>
      <div class="card-body">
        <h4 class="card-title">Personal Activity</h4>
        <p class="card-text">Mentorship at Hack4Cult</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <h3 class="card-header">Discover me</h3>
      <div class="card-body">
        <p class="card-text">Passionate about technology with 9+ years of experience: working in product management and project management with stakeholders and clients such as GE Avio Aero, Intesa Sanpaolo, Eutelsat. In my life, as an only child, I have to take care of my parents, both severely disabled. This, however, has not stopped me from pursuing what I set out to achieve.</p>
      </div>
    </div>
  </div>
</div>
                   
<div class="row">
  <div class="col-lg-12">                   
    <div class="card mb-3">
      <h3 class="card-header">Support me</h3>
      <div class="card-body">
        <p class="card-text">With <a href="https://pay.revolut.com/profile/elia3dcp" target="_blank">Revolut</a>, with <a href="https://paypal.me/eliabellussi" target="_blank">Paypal.Me</a>, with <strong>Bitcoin</strong>: 1DLjo5sCqd4apSsVZoAJjccnrj6EryVDqT or <strong>Ethereum</strong>: 0x62eE0Fac81872409270E2dbc45eB486d4417081D</p>  
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Contact me</h2>
  </div>
</div>             
<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          E-mail:
          <span class="badge badge-primary badge-pill">e.bellussi@gmail.com</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Mobile Phone:
          <span class="badge badge-primary badge-pill"> +39 333 6892117 </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Mobile Phone: 
          <span class="badge badge-primary badge-pill"> +44 7775 701751 </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header text-white bg-primary">LinkedIn</div>
      <div class="card-body">
        <h4 class="card-title">Link me <a href="https://www.linkedin.com/in/eliabellussi/" target="_blank">here</a></h4>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header text-white bg-info">Twitter</div>
      <div class="card-body">
        <h4 class="card-title">Tweet me <a href="https://twitter.com/ebellussi" target="_blank">here</a></h4>
      </div>
    </div>
  </div>
</div>