<div class="jumbotron">
  <h1 class="display-3">Elia Bellussi</h1>
  <p class="lead">Innovation Strategist @ EGI Foundation | Adjunct professor @ UniTo | MBA&MSc @ Hult | Driving Sustainable Change</p>
  <hr class="my-4">
  <p>To download my cv/resume click the button below.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" target="_blank" href="/attachment/CV_EN_Elia_Bellussi.pdf" role="button">CV | Resume</a>
  </p>
  <p class="lead">
    <a target="_blank" href="https://orcid.org/0000-0002-8623-9834">ORCID Profile</a>
  </p>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Last updates</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">Certification</div>
      <div class="card-body">
        <h4 class="card-title">APMG</h4>
        <p class="card-text">FitSM Advanced Service Planning and Delivery - Trainer</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">Certification</div>
      <div class="card-body">
        <h4 class="card-title">APMG</h4>
        <p class="card-text">FitSM Foundation - Trainer</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">Job</div>
      <div class="card-body">
        <h4 class="card-title">Università di Torino</h4>
        <p class="card-text">Adjunct Professor in History of Digital Technologies</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="card mb-3">
      <h3 class="card-header">Discover me</h3>
      <div class="card-body">
        <p class="card-text">Passionate about technology with 13+ years of experience: working in product management and project management with stakeholders and clients such as the Italian Public Sector, GE Avio Aero, Intesa Sanpaolo, Eutelsat. In my life, as an only child, I have to take care of my parents, both severely disabled. This, however, has not stopped me from pursuing what I set out to achieve.</p>
      </div>
    </div>
  </div>
</div>
                   
<div class="row">
  <div class="col-lg-12">                   
    <div class="card mb-3">
      <h3 class="card-header">Support me</h3>
      <div class="card-body">
        <p class="card-text">With <a href="https://pay.revolut.com/profile/elia3dcp" target="_blank">Revolut</a>, with <a href="https://www.satispay.com/download/qrcode/S6Y-CON--FD000511-303D-4D4D-8628-47D0-C322555E?" target="_blank">Satispay</a>, with <a href="https://paypal.me/eliabellussi" target="_blank">Paypal.Me</a>, with <strong>Bitcoin</strong>: 3AJTFQt62U9fyYHMbnyg49gM7Bq3YcwrwT or <strong>Ethereum</strong>: 0x3A56F64801B93085125Ce1E9aE2c1a45ce0C636c</p>  
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <h2>Contact me</h2>
  </div>
</div>             
<div class="row">
  <div class="col-lg-4">
    <div class="card mb-3">
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          E-mail:
          <span class="badge badge-primary badge-pill">e.bellussi@gmail.com</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Mobile Phone:
          <span class="badge badge-primary badge-pill"> +39 333 6892117 </span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Mobile Phone: 
          <span class="badge badge-primary badge-pill"> +44 7775 701751 </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header text-white bg-primary">LinkedIn</div>
      <div class="card-body">
        <h4 class="card-title">Link me <a href="https://www.linkedin.com/in/eliabellussi/" target="_blank">here</a></h4>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header text-white bg-info">Twitter</div>
      <div class="card-body">
        <h4 class="card-title">Tweet me <a href="https://twitter.com/ebellussi" target="_blank">here</a></h4>
      </div>
    </div>
  </div>
</div>