<div class="jumbotron">
  <h1 class="display-3">Elia Bellussi</h1>
  <p class="lead">Design Thinking | Scenario Planning | Open Innovation | Data Strategy and Analytics</p>
  <hr class="my-4">
  <p>To download my cv - resume - click the button below.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">CV | Resume</a>
  </p>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Business</div>
  <div class="card-body">
    <h4 class="card-title">Impact Angels Italia</h4>
    <p class="card-text">Evaluating and helping start-ups to enter in the market</p>
  </div>
  <div class="card-header">Business</div>
  <div class="card-body">
    <h4 class="card-title">VoiceMed</h4>
    <p class="card-text">Business Analysis and Software Development</p>
  </div>
  <div class="card-header">Business</div>
  <div class="card-body">
    <h4 class="card-title">Digital360</h4>
    <p class="card-text">Contributing Writer about Design Thinking, Data Strategy, Scenario Planning</p>
  </div>
</div>
