<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {% if page = "null" %}
            {%- include main.html -%}
          {% else if page = "education.html"}
            {%- include education.html -%}
          {% else if page = "experience.html"}
              {%- include experience.html -%}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>